<!-- Toolbar -->
<div class="main-header " role="banner">
  <div class="conteiner">
    <div class="nav">
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">Category</a></li>
        <li><a href="#">About</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="conteiner" role="main">
  
  <!-- Resources -->
  <h2>Resources</h2>
  <p>Here are some links to help you get started:</p>
  <div class="item" *ngFor="let book of books">
    <div>
      <h2>{{book?.name}}</h2>
      <p>{{book?.text}}</p>
      <strong>Price: </strong><strong>{{book?.price}} $</strong>
    </div>
    <button>Subscription</button>
  </div>
  <!-- Footer -->
  <footer>
      Book Subscription&nbsp;
      <a href="https://github.com/Valerij575/booksubscription/tree/master" target="_blank" rel="noopener">On github
      </a>
  </footer>
</div>
<router-outlet></router-outlet>